<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fetch API</title>
  </head>
  <body>
    <div>
      <h1>Fetch API GET REQUEST</h1>
      <h3>Fetching Users</h3>
 
      <table id="users">
        <tr><th>Name</th><th>Email</th></tr>
        <%
          userData.forEach(function(data){
        %>
            <tr>
              <td><%=data.name %></td>
              <td><%=data.email %></td>
            </tr>
        <%  }) %>



      </table>
    </div>
  </body>
</html>